@font-face {
  font-family: "DTR";
  src: url("DTM-Sans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


body {
    overflow: hidden;
    margin: 0;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    background: #111111;
    image-rendering: pixelated;
}

#UI {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: DTR, sans-serif;
    font-size: 16px;
    z-index: 10;
}
